#contact {
  background-image: linear-gradient(
    135deg,
    #fcf3ca 0%,
    #fcf3ca 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 5rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $dark-grey;
  display:flex;


  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }
  .container{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .section-title{
    background-color:$white-color;
    opacity:70%;
    height: auto;
    letter-spacing: 5px;
    padding: 40px;
    transform:translate(30px, -15px);
  }
  .left-block{
    width:40%;
    height:85%;
    margin: 0 auto;
    padding: 0;
  }
  .right-block{
    margin:0 auto;
    padding:0;
  }
  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;

    &__text {
      line-height: 30px;
      margin-bottom:10px;
    }

    &__text,
    a {
      font-size: 2rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
}
