// COLORS
$primary-color: #b4dfe5;
$secondary-color: #b4dfe5;

$accent-text:#f4976c;
$second-accent:#ffbe55;

$white-color: #ffff;

$dark-grey: #5b615d;
$light-grey:#eeeae4;

$dark-text: #364f6b; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
