.footer {
  background-color: $light-grey;
  color: $dark-text;
  padding: 4.8rem 0;

  @include respond(phone) {
    border: 0px;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $dark-grey;
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      margin: $default-font-size $default-font-size;
      transition: all 0.2s ease-in;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

.back-to-top i {
  color: $dark-grey;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    transform: translateY(-2px);
  }
}
